<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/basic-logback.xml" />

    <!-- Enable JMX. See http://logback.qos.ch/manual/jmxConfig.html -->
    <jmxConfigurator />

    <include resource="logback-appenders.xml" />

    <!-- Application logging -->
    <logger name="au.com.venilia.xbee" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="FILE" /> -->
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <!-- <appender-ref ref="FILE" /> -->
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
