<?xml version="1.0" encoding="UTF-8"?>
<included xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback-xsd/logback.xsd">

	<property name="LOG_PATTERN"
		value="%date{ISO8601, UTC} [%t] --- %-5level - %-40.40logger{39} : %m%n" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/xbee/xbee-application.%d.log
			</fileNamePattern>
		</rollingPolicy>
		<prudent>true</prudent>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

</included>
